*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    
}

body{
    height: 100%;
    border: 25px solid rgb(11, 11, 78);
    background-image: url(/assets/images/Rectangle\ 1.png);
}

.hero-section{
    display: flex;
    flex-wrap: wrap;
}

.ak-image{
    width: 100%;
}

#ak-image img{
    width: 460px;
    height: 580px;
    top: 113px;
    left: 97px;
    gap: 0px;
    border-radius: 170px 0px 0px 0px;
    opacity: 0px;
    margin-left: 28%;
    margin-top: 30%;
}

#ak-name-age{
    width: 65%;
    height: 47px;
    margin-top: 500px;
    gap: 0px;
    opacity: 0px;
    font-size: 75px;
    font-weight: 450;
    line-height: 80px;
    text-align: center;
    padding-left: 2%;
}

.ak-age{
    font-family: Inter;
    line-height: 70px;
    /* width: 80%; */
    width: 65%;
}

.ak-age p{
    width: 130%;
    gap: 0px;
    opacity: 0px;
    font-size: 35px;
    font-weight: 450;
    line-height: 70px;
    text-align: end;
    padding-left: 2%;
}

.main-content{
    margin: 8%;
    margin-bottom: 2%;
    font-weight: 500;
}

.mmoi-head{
    font-size: 110px;
    font-weight: 500;
    line-height: 200px;
    text-align: left;
}

.mmoi-body{
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
}

.font-bold{
    font-weight: bold;
}

.bio-head{
    font-size: 30px;
    line-height: 100px;
    margin-top: 2%;
}

.bio-list{
    margin-left: 2%;
    line-height: 30px;
}

.readmore{
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;
    margin-bottom: 0px;
}

@media (max-width: 576px) {
    #ak-image img{
        width: 360px;
        height: 480px;
        top: 113px;
        left: 97px;
        gap: 0px;
        border-radius: 170px 0px 0px 0px;
        margin-left: 20%;
        margin-top: 30%;
    }

    .main-content{
        margin: 0%;
        margin-bottom: 2%;
        font-weight: 300;
    }

    #ak-name-age{
        width: 100%;
        /* height: px; */
        margin-top: 5%;
        gap: 0px;
        opacity: 0px;
        font-size: 50px;
        font-weight: 450;
        line-height: 10px;
        text-align: center;
        padding-left: 2%;
    }

    .mmoi-head{
        font-size: 50px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        margin: 5%;
        margin-top: 10%;
    }

    .mmoi-body{
        font-size: 20px;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 5%;
    }

    .bio-head{
        font-size: 40px;
        font-weight: bold;
    }

    .bio-list{
        text-align: left;
    }
}